.CategoryCard {
    width: 400px;
background-color: white;
border-radius: 10px;
position: relative;
}
.CategoryCardImage{
width: 100%;
}
.CategoryCardTitle {

}
.CategoryCardDescription {

}

.CategoryCardTextContainer {
    padding: 10px;
}