.CategoryCard {
    width: 400px;
background-color: white;
border-radius: 10px;
position: relative;
box-shadow: 2px 2px 2px 2px rgb(238, 238, 238);

}
.CategoryCardImage{
    height: 17em;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.CategoryCardTitle {

}
.CategoryCardDescription {

}

.CategoryCardTextContainer {
    padding: 10px;
}