* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #882c38, #cb4154);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

img {
  max-width: 100%;
  margin: 10%;
  height: auto;
  vertical-align: bottom;
}

.recipe-card {
  background: #fff;
  margin: 4em;
  width: 90%;
  border-radius: 25px;
}
.card {
  background: #fff;
  margin: 4em auto;
  width: 90%;
  border-top: 5px;
  border-bottom: 5px;
  border-style: solid;
  border-color: rgb(128, 128, 128, 0.1);
}
aside {
  position: relative;
}
img {
  border-top: 5px;
  width: 80%;
}

.button {
  background-color: #cb4154;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  margin-left: 20%;
}
.icon {
  vertical-align: middle;
}

article {
  padding: 1.25em 1.5em;
}
ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
first-child {
  margin-left: 0;
}

.icon {
  vertical-align: bottom;
}

span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}

h2,
h3 {
  margin: 0;
  font-weight: 300;
}

h2 {
  font-size: em(28);
  color: #222222;
}

h3 {
  font-size: em(15);
  color: #838689;
}

p {
  margin: 1.25em 0;
  font-size: em(13);
  font-weight: 400;
  color: #222222;
}
span {
  font-weight: 700;
  color: #000000;
}

.ingredients {
  margin: 2em 0 0.5em;
}

.icon {
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}

.icon-calories,
.icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}

.icon-clock,
.icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}

.icon-level,
.icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}

.icon-users,
.icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #cb4154;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after {
  border-radius: 3px;
  background-color: #cb4154;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 66%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btn {
  background-color: #cb4154;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

/* Style the tab */
.tab-list {
  border-bottom: 1px solid #cb4154;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  margin-left: 0%;
  border: solid black;
  border-width: 1px 1px 0px 1px;
}

.tab-list-active {
  background-color: #333;
  border: solid #cb4154;
  border-width: 0px 0px 3px 0px;
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid #cb4154;
  background-color: white;
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  margin-left: 9%;
  margin-bottom: 8%;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
  background-position: bottom center;
  background-size: cover;
}

.avatar {
  border-radius: 30%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #cb4154;
  color: white;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
