.Profile {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #cb4154;
}

.ProfileInfoContainer {
    background-color: white;
    width: 1200px;
    margin:  0 auto;
    padding: 10px;
}

.ProfileBio {
    border-bottom: 1px solid #8e8e8e;
    padding: 80px 60px;
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    column-gap: 30px;
}

.ProfileFollowButton {
    background-color: #47c7ad;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
}
.Logo {
width: 200px;
}
.ProfileName {
    font-size: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    font-weight: 100;
}

.AccountFollows{
    width: 250px;
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}

.AccountFollowsStats {
    font-weight: 400;
}

.ProfileDescription {
    margin-bottom: 30px;
}