.BackGround {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-image: linear-gradient(90deg, #882c38, #cb4154);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
}

.content-container {
  padding-top: 20px;
  padding-left: 220px;
}
